<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://linktr.ee/Psrclown"><i class="fa-solid fa-link"></i></a>
      <a href="https://www.instagram.com/anshsingh_psr/"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://www.linkedin.com/in/psrclown/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy PSR Brothers Corporation Ltd.</div>
    <div class="f-info-links">
      <a href="mailto:anshpsr1122@gmail.com">Contact Us</a>
    </div>
  </div>
</footer>
